<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Mi portafolio</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <%= link_to 'Más sobre nosotros', about_me_path, class: 'btn btn-primary' %>
      <%= link_to 'Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>