
<h1>¿Quieres conocernos?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Instalaciones</h3>

    <p>Zocalo, Delegación Cuauhtémoc, Ciudad de México</p>

    <h3>Teléfono</h3>

    <p><%= number_to_phone "(01 55) 55132435" %></p>

    <h3>Email</h3>

    <p><a href="mailto:klets@sys.com?subject=PortfolioContact" "email me">Hola</a> </p>
  </div>

  <div class="col-md-6">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-99.13559317588808%2C19.43106764998235%2C-99.13148403167725%2C19.434214238948414&amp;layer=mapnik&amp;marker=19.43264095208602%2C-99.13353860378265" style="border: 1px solid black"></iframe><br/><small><a target="_blank" href="https://www.openstreetmap.org/?mlat=19.43264&amp;mlon=-99.13354#map=18/19.43264/-99.13354">Ver el mapa en grande</a></small>
  </div>
</div>
