<div class="inner cover">
  <h1 class="cover-heading">Este es el principio del fin <-> El final del principio.</h1>
  <p class="lead">El caos transita hacia el orden mientras en la víscera se mueve el caos</p>
  <p class="lead">
    <%= link_to "Acércate", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


